<mat-card>
    <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="25%">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Rolando</mat-card-title>
                  </mat-card-header>
        <mat-card class="mat-elevation-z4">
            <img mat-card-image src="../../../assets/1.jpeg">
        </mat-card>
    </div>

    <div fxFlex="25%">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Rolando</mat-card-title>
          </mat-card-header>
<mat-card class="mat-elevation-z4">
    <img mat-card-image src="../../../assets/5.jpeg">
</mat-card>
</div>

<div fxFlex="25%">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Rolando</mat-card-title>
      </mat-card-header>
<mat-card class="mat-elevation-z4">
<img mat-card-image src="../../../assets/6.jpeg">
</mat-card>
</div>

<div fxFlex="25%">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Rolando</mat-card-title>
      </mat-card-header>
<mat-card class="mat-elevation-z4">
<img mat-card-image src="../../../assets/4.jpeg">
</mat-card>
</div>

    </div>
    </div>
</mat-card>