<section>
    <img src="../../assets/me.jpg" alt="me" width="500px" height="400px">
    <hr>
    <p><b>Name:</b>Joshua F. Nicol</p>
    <p><b>Age:</b> 20yrs.old</p>
    <p><b>Address:</b> Poblacion Zone ll Capoocan, Leyte</p>
    <p><b>Gender:</b> Male</p>
    <p><b>Citizenship:</b>Filipino</p>
    <p><b>Studied at:</b> Eastern Visayas State University </p>
    <p><b>Course:</b> Bachelor of Science in Information Technology </p>
    <p><b>Birthplace:</b> Capoocan, Leyte</p>
    <p><b>Mother:</b> Emelita F. Nicol</p>
    <p><b>Father:</b> Ralph M. Nicol</p>
</section>