<mat-card class="container">
    <mat-card-content>
      <div class="social">
        <h6>Lets Connect</h6>
        <a href="https:/facebook.com"><i class="fab fa-facebook"></i></a>
        <a href="https:/twitter.com"><i class="fab fa-twitter"></i></a>
        <a href="https:/instagram.com"><i class="fab fa-instagram"></i></a>
        <a href="https:/youtube.com"><i class="fab fa-youtube"></i></a>
        <a href="https:/github.com"><i class="fab fa-github"></i></a>
      </div>
    </mat-card-content>
</mat-card>