<section class="gallery">
<div class="gallery">
  <a target="_blank" href="../../assets/1.jpg">
    <img src="../../assets/1.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/2.jpg">
    <img src="../../assets/2.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/5.jpg">
    <img src="../../assets/5.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/me.jpg">
    <img src="../../assets/me.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/1.jpg">
    <img src="../../assets/1.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/2.jpg">
    <img src="../../assets/2.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/5.jpg">
    <img src="../../assets/5.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/me.jpg">
    <img src="../../assets/me.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/1.jpg">
    <img src="../../assets/1.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/2.jpg">
    <img src="../../assets/2.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/5.jpg">
    <img src="../../assets/5.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/me.jpg">
    <img src="../../assets/me.jpg" ></a>
</div>

</section>