.app-sidenav-container {
  flex: 1;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  background-color: whitesmoke;
}
.mat-toolbar{
  color: black;
  background-color: lightskyblue;
  height: 60px;
  font-weight: bold;
  font-size: 30px;
}
.mat-list{
  background-color: white;
  height: 88.5%;
}
.mat-icon{
  color: brown;
  margin: 20px;
}
.mat-list-item{
  font-weight: bold;
}
.mat-list-item:hover{
  background-color: whitesmoke;
}
.app-sidenav-content{
  display: flex;
  height: 100%;
  flex-direction: column;
}
.app-sidenav{
  width: 200px;
}
.wrapper{
  margin: 10px;
}

